<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/base.css">    
    <title>.: WorkShop :.</title>
</head>
<body>
    <div class="container" id="row"></div>
        <div class="container" id="texto">
            <div class="content-letter" id="demo"></div>
        </div>
    <script src="../js/drawing.js"></script>
    <script type="text/javascript">
        document.onreadystatechange = () => {
            if (document.readyState === "complete") {
                const heart = [
                    {
                        p: [27, 15, 17, 3, 2, 7, 8,
                            12, 20, 22, 33, 44, 55,
                            32, 43, 54, 65, 67, 79,
                            91, 103, 115, 105, 95, 85,
                            75],
                        c: "line",
                    },
                    {
                        p: [13, 14, 18, 19, 23, 24,
                            25, 26, 28, 30, 31, 34,
                            35, 36, 37, 38, 39, 40,
                            42, 45, 46, 47, 48, 49,
                            50, 51, 52, 53, 56, 57,
                            58, 59, 60, 61, 62, 63,
                            64, 68, 69, 70, 71, 72,
                            73, 74, 80, 81, 82, 83,
                            84, 92, 93, 94, 104],
                        c: "back_heart",
                    },
                ];
                drawing.draw("row", 121, "heart", heart);
            }
        };
    </script>
</body>
</html>